* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================================================================NAVBAR============================================================================================ */

p {
    font-family: 'Montserrat', sans-serif;
}

.nav-item a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;

}

.nav-item a:hover {
    color: greenyellow;
}

.navbar-brand {
    height: 50px;
    width: 100px;
}

.search {
    border-radius: 20px 0 0 20px;
    border: 2px solid greenyellow;
    height: 45px;
    background-color: transparent;
    border-right: none;
    outline: none;
    box-shadow: none;
}

.btn1 {
    height: 45px;
    border-radius: 0 20px 20px 0;
    color: white;
    outline: none;
    background-color: greenyellow;
    transition: all 0.4s;
    border: none;
}

.btn1:hover {
    background-color: rgb(108, 168, 18);
}

.bi-bag-plus-fill {
    font-size: 2rem;
    color: black;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;

}

.bi-bag-plus-fill:hover {
    color: rgb(108, 168, 18);
}

.navbar-toggler {
    font-size: 1.5rem;
    color: black;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

/* ============================================================================MAIN============================================================================================ */

.main {
    background: url(imgs/m1.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}

.main p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 100px;
}

.main p:nth-child(2) {
    font-size: 1.1rem;
    color: gray;
}

.mbtn1 {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: greenyellow;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    border: none;
    transition: all 0.4s;
    color: white;
}

.mbtn1:hover {
    background-color: rgb(109, 172, 15);
    outline: none;
    transition: all 0.4s;
}

.mbtn2 {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    transition: all 0.4s;
    color: rgb(20, 219, 20);
}

.mbtn2:hover {
    background-color: rgb(109, 172, 15);
    color: white;
    transition: all 0.4s;
    border: none;
}

.line {
    border: 3px solid greenyellow;
    width: 33%;
    display: inline-block;
}

/* ============================================================================ABOUT=========================================================================================== */

.about {
    background: url(imgs/abut.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
}

.about p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 100px;
}

.about p:nth-child(2) {
    font-size: 1.1rem;
    color: gray;
}

/* ============================================================================WELCOME============================================================================================ */

.welcome {
    background-color: rgb(20, 219, 20);
}

.line2 {
    height: 5px;
    width: 30%;
    background-color: white;
    display: inline-block;
}

.welcome h3 {
    font-size: 3rem;
    font-weight: bold;
}


.welcome .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.welcome i {
    font-size: 2.8rem;
    color: rgb(20, 219, 20);
}

.welcome .card:hover {
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
    transition: all 0.4s;

}

.welcome h4 {
   padding: 10px;
    font-size: 1.5rem;
}

/* <!-- =======================================================================PRODUCT============================================================================================= --> */

h3 {
    font-size: 3rem;

}

.product p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 100px;
}

.product p:nth-child(2) {
    font-size: 1.1rem;
    color: gray;
}

.star {
    text-align: end;
    color: gold;
}

.product .card {
    border: none;
    border-radius: 0;
    cursor: pointer;

}

.product .card-body {
    border: 1px dashed rgb(97, 97, 97);
}

.head1 {
    font-weight: 500;
    margin: 0;
}

.per1 {
    color: rgb(168, 162, 168);
}

.btnc {
    height: 50px;
    width: 50%;
    background-color: greenyellow;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 0 auto;
    display: block;
}

.btnc:hover {
    border: 1px solid rgb(20, 219, 20);
    color: white;
    transition: all 0.4s;
    outline: none;
    background-color: transparent;
    color: rgb(20, 219, 20);
}

/* <!-- ================================================================================DISCOUNT============================================================================== --> */

.discount {
    background-color: rgb(20, 219, 20);
    color: white;
}

.discount p {
    font-size: 2rem;
    font-weight: lighter;
}

.dbtn {
    height: 50px;
    width: 80%;
    outline: none;
    border: none;
    color: black;
    background-color: white;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    font-weight: lighter;
    transition: all 0.4s;
}

.dbtn:hover {
    background-color: rgb(230, 230, 230);
}

/* <!-- ================================================================================STORE============================================================================== --> */

h3 {
    font-size: 3rem;

}

.store p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 100px;
}

.store p:nth-child(2) {
    font-size: 1.1rem;
    color: gray;
}

.store .card:hover .per1{
    color: white;
}

.line {
    border: 3px solid greenyellow;
    width: 33%;
    display: inline-block;
}

.store i {
    font-size: 2.2rem;
}

.store .card {
    border-radius: 0;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
}

.store .card:hover {
    background-color: rgb(20, 219, 20);
    color: white;
}

/* <!-- ================================================================================SELLER================================================================================== --> */

.seller h5 {
    font-size: 3rem;
    font-weight: bold;
}

.seller i {
    color: gold;
}

.seller .card {
    border: none;
}

/* <!-- ================================================================================CONTACT================================================================================== --> */


.contact {
    background: url(imgs/cont.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}

.contact h3 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.contact p {
    color: white;
}

.circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    color: black;
    padding-top: 15px;
    font-size: 1.1rem;
    text-align: center;

}

.contact input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.contact textarea {
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.cbtn {
    height: 50px;
    width: 65%;
    border-radius: 50px;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    font-weight: lighter;
    transition: all 0.4s;
}

.cbtn:hover {
    background-color: rgb(224, 224, 224);
}

/* <!-- ================================================================================FOOTER================================================================================== --> */

.footer {
    background: rgb(61, 58, 58);
}

.sl {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.sl:hover {
    background-color: rgb(20, 219, 20);
    border: none;
}

.footer p {
    color: rgb(20, 219, 20);
}

